{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{% static 'assets/bs/css/bs.min.css' %}" rel="stylesheet">
		<link href="{% static 'bridal/stylesheets/bridal.css' %}" rel="stylesheet">
		<title>Home</title>
	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>
		<div>
			<h1>Home</h1>
		</div>
	
	<!-- JavaScript -->
    <script src="{% static 'assets/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bs/js/bs.min.js' %}"></script>
	</body>
</html>